# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/xqyet-terminal/FileContentIndex/7cdd709b-a15b-4d66-a357-ac767bbcf3b7.vsidx
/.vs/xqyet-terminal/FileContentIndex/b36cd84f-b832-465e-961d-7396a416e3ac.vsidx
/.vs/xqyet-terminal/FileContentIndex/40b709d0-3b0e-4283-967f-79bd430deaeb.vsidx
/.vs/xqyet-terminal/config/applicationhost.config
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/xqyet-terminal/FileContentIndex/fda40aae-f38d-4277-915c-c9bb26cc2363.vsidx
/.vs/xqyet-terminal/v17/.wsuo
/.vs/xqyet-terminal/FileContentIndex/5ceb0b0e-11b6-4827-be19-6002afe081df.vsidx
/.vs/xqyet-terminal/v17/DocumentLayout.backup.json
/.vs/xqyet-terminal/FileContentIndex/45b8fa4f-330d-499a-8929-541ddcea766a.vsidx
/.vs/xqyet-terminal/FileContentIndex/2385d7be-efb5-4ced-95cc-fd0465d8b2ee.vsidx
/.vs/xqyet-terminal/FileContentIndex/63149eba-58c1-4a4f-bcef-92ce775d5f2e.vsidx
/.vs/xqyet-terminal/FileContentIndex
/.vs/ProjectSettings.json
/.vs/xqyet-terminal/v17/DocumentLayout.json
